@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ujj5d8');
	src:url('fonts/icomoon.eot?#iefixujj5d8') format('embedded-opentype'),
		url('fonts/icomoon.woff?ujj5d8') format('woff'),
		url('fonts/icomoon.ttf?ujj5d8') format('truetype'),
		url('fonts/icomoon.svg?ujj5d8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
	content: "\e60d";
}

.icon-Search:before {
	content: "\e608";
}

.icon-close:before {
	content: "\e600";
}

.icon-down:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e602";
}

.icon-google:before {
	content: "\e603";
}

.icon-images:before {
	content: "\e604";
}

.icon-instagram:before {
	content: "\e605";
}

.icon-Mail:before {
	content: "\e606";
}

.icon-menu:before {
	content: "\e607";
}

.icon-time:before {
	content: "\e609";
}

.icon-twitter:before {
	content: "\e60a";
}

.icon-user:before {
	content: "\e60b";
}

.icon-Video:before {
	content: "\e60c";
}

