@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?lzi4sj');
	src:url('fonts/icomoon.eot?#iefixlzi4sj') format('embedded-opentype'),
		url('fonts/icomoon.ttf?lzi4sj') format('truetype'),
		url('fonts/icomoon.woff?lzi4sj') format('woff'),
		url('fonts/icomoon.svg?lzi4sj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down02:before {
	content: "\e615";
}
.icon-Down:before {
	content: "\e60f";
}
.icon-Star:before {
	content: "\e614";
}
.icon-Camera:before {
	content: "\e613";
}
.icon-mail:before {
	content: "\e606";
}
.icon-populret:before {
	content: "\e601";
}
.icon-Link:before {
	content: "\e610";
}
.icon-comment:before {
	content: "\e611";
}
.icon-expand:before {
	content: "\e612";
}
.icon-SMS:before {
	content: "\e60e";
}
.icon-share:before {
	content: "\e60d";
}
.icon-Search:before {
	content: "\e608";
}
.icon-close:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-google:before {
	content: "\e603";
}
.icon-images:before {
	content: "\e604";
}
.icon-instagram:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e607";
}
.icon-time:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
.icon-Video:before {
	content: "\e60c";
}
