<div class="section-header-menu" ng-show="header">
  <h1>{{ header }}</h1>
  <a href class="section-menu-link" ng-if="hasSubsection" ng-click="toggleSubsectionMenu()"><span class="icon-down"></span></a>
</div>
<div class="section-menu-pulldown" ng-class="{'submenu-open': subsectionVisible}">
  <ul class="menu">
    <li ng-repeat="link in submenuLinks">
      <a href ng-href="{{ link.slug }}" ng-class="getSubmenuStatusClass(link.slug)">{{ link.name }}</a>
    </li>
  </ul>
  <div ng-if="showSportsTeams" stiften-sports-teams class="menu-sports-teams"></div>
</div>
<div stiften-spinner ng-show="contentLoading"></div>
<div berl-emediate cu="28268" tag="frontpage" class="ad-extra-padding"></div>
<div stiften-default-article-list show-label content="controlled" type="news_article" insert-ad-position="3" class="image-article-list"></div>
<h3 class="section-header">Populært på stiften</h3>
<div stiften-most-popular-article-list stiften-chartbeat-list initial="5" items="10" class="most-popular-article-list"></div>