<div class="article-image" ng-if="images.length > 0">
  <figure>
    <img ng-src="{{ ::images[0].value[0].attributes.url}}" alt />
    <figcaption ng-if="::images[0].value.description" ng-bind-html="::images[0].value.description"></figcaption>
    <a ng-if="images.length > 1" class="gallery-link" href ng-click="toggleGalleryOverlay()">
      <span class="icon-expand"></span>
    </a>
  </figure>
</div>

<div class="article-gallery-overlay" ng-class="{shown: showGalleryOverlay}">
  <div class="gallery-overlay-header">
    <div class="gallery-counter">{{ currentSlide+1 }}/{{ images.length }}</div>
    <a class="gallery-closer icon-close" href ng-click="toggleGalleryOverlay()"></a>
  </div>
  <div flipsnap flipsnap-id="flipsnap">
      <div flipsnap-pane ng-repeat="image in images" class="gallery-slide">
        <figure class="gallery-image-wrapper">
          <img ng-src="{{ ::image.value[0].attributes.url}}" alt />
          <figcaption ng-if="story[1].attributes.desc" ng-bind-html="::image.value.description"></figcaption>
        </figure>
      </div>
  </div>
</div>