<div flipsnap flipsnap-id="flipsnap" >
    <div flipsnap-pane ng-repeat="image in images" class="gallery-slide">
      <figure>
        <img ng-src="{{ ::image.value[0].attributes.url}}" alt />
        <figcaption ng-if="story[1].attributes.desc" ng-bind-html="::image.value.description"></figcaption>
      </figure>
    </div>
</div>

<div class="gallery-indicator" ng-if="images.length > 1">
    <a href ng-click="setSlide($index)" ng-repeat="image in images" class="indicator" ng-class="(currentSlide == $index) ? 'active' : ''"></a>
</div>
