<input list="cities" ng-change="updateDataList()" ng-model="cityAutocomplete">

<datalist id="cities">
  <option ng-repeat="cityChoice in cities" ng-value="cityChoice.name" />
</datalist>

<br /><br />
<h1>{{ display.name }} {{ display.country }}</h1>
<ul>
  <li class="weather-item" ng-repeat="item in list">
    <time>{{ item.dt * 1000  | date: "HH:mm" }}</time>
    <div class="weather-icon-wrapper">
      <i class="wi" ng-class="item.icon"></i>
    </div>
    <div class="weather-temp">{{ item.main.temp | number:0 }}°</div>
  </li>
</ul>