.page-article-page {
  .meta-wrapper, h1, .byline, .subheader, .article-body {
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
  .main {
    margin-top: 10px;
  }
  .embedded-article {

  }
  figure {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  figcaption {
    margin-left: $side-margin;
    margin-right: $side-margin;
    color: #777;
    &::before {
      opacity: 0.5;
      //background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAANSAAADUgEQACRKAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAJNQTFRF////AAAAAAAAAAAAAAAAAAAAAAAIAAAHAAAHAAAGBQAFBAAEBAAEBAAEAwADAwADAwADAwADAwADAwADAwAFAgAFAgAFAgAFAgAEAgAEAgAEBAIEBAIEBAIEBAIEAwIDAwIDAwEEAwEEAwEEAwEEAwEEAgEEAwEDAwEEAwEEAwEEAwEEAwEEAwEEAwEEAwEEAwEE0MqKkQAAADB0Uk5TAAIRFBwdIiMnKjA5PUNJSktOUldkamxxc3R8gYOGj5idrLS2uMjO3OXp8PH19/j9GimECAAAAL5JREFUGBmdwVdywkAURcEjENnkJBNFBsHA3f/qUD1NTUHBj90N/9Vbez3eNBQ0eDVXMOdF86zg3MTEqdMHl8ak8g6zTmd2kJfiZO5JRC5K7pK2mRwqjKDc75dhJD1+thIyexhkUjaAvfSQhMyQ6k25W5WhDDI1fmUSajLIlFjKLCnJINOmK9OlLYPMAjbKbWAhg4yrE012u0lE3cmgwrGCqRxVQN51HEM8vsrjpOByUXBiqq+m0FqtP6xa/N0TtNY/FOtYLMkAAAAASUVORK5CYII22a201b22c4c46bf2ec0a5342a90c129');
      background-image: url('/assets/images/cameraicon.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      content: ' ';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      bottom: -2px;
      position: relative;
    }
  }
  .byline {
    padding-top: 10px;
    font-family: 'Berlingske Sans';
    font-size: 12px;
    border-top: 1px solid #d7d7d7;
  }
  .embedded-article::before {
    font-weight: bold;
    content: 'Læs også: ';
  }
}