.story-wrapper {
  padding-top: 20px;

  &.alert-breaking .story-header {
    @include clearfix();
    background: $breaking-background-color;
    color: #fff;
    padding-top: 10px;
    .subheader {
      color: #fff;
    }
    .meta-wrapper .label {
      color: #fff;
      &.label-breaking {
        margin-right: 0px;
      }
    }
  }
  .meta-wrapper, h1, .byline-wrapper, .subheader, .article-body {
    margin-left: $side-margin;
    margin-right: $side-margin;
  }

  .meta-wrapper.dates {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 32px;
  }
  .factbox {
    margin: 0 $side-margin 40px;
    background: #f4f4f4;
    font-family: $berlingske-sans;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  h2.article-section-header {
    font-family: $berlingske-sans;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 19px;
    margin: 0 $side-margin 20px;
    border-top: 1px solid #b2b2b2;
    padding-top: 15px;
  }
  .article-body img {
    height: auto;
  }
  figure {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    background: #efefef;
  }
  time.publish-date {
    display: block;
    margin: 0 0 6px;
  }
  figcaption {
    margin-left: $side-margin;
    margin-right: $side-margin;
    color: #777;
    padding-top: 4px;
    padding-bottom: 6px;
    p {
      margin-bottom: 0px;
    }
    &::before {
      font-size: 10px;
      margin-right: 5px;
      display: block;
      float: left;
      font-family: 'Icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1.6;
      content: "\e613";
    }
  }
  .byline-wrapper {
    padding-top: 15px;
    font-family: $berlingske-sans;
    font-size: 13px;
    border-top: 1px solid #d7d7d7;
    color: #747474;
    font-weight: bold;
    .byline-element {
      &::after {
        content: ', ';
      };
      &:last-child::after {
        content: none;
      }
    }
    & > * {
      margin-bottom: 2px;
    }
    margin-bottom: 10px;
  }
  .embedded-article {
    color: $label-blue;
  }
  .embedded-article::before {
    font-weight: bold;
    display: block;
    content: 'Læs også: ';
    color: #242424;
  }
  ul.tags {
    margin: 0 $side-margin;
    li {
      display: inline-block;
    }
    .tag-link {
      @include buttonize();
      padding-left: 14px;
      padding-right: 14px;
      background: #f0f0f0;
      border: none;
      color: #6f6f6f;
      margin: 0 auto 20px;
      margin-right: 10px;
    }
  }
  .article-related {
    ul {
      margin: 0 $side-margin;
    }
    li {
      @include clearfix();
      margin-top: 3px;
      margin-left: 3px;
      padding-left: 8px;
      border-left: 1px solid #d2d2d2;
      border-top: 1px solid transparent;
      &:last-child {
        border-left-style: dashed;
        border-left-color: #c2c2c2;
      };
    }
    ul.all-shown {
      margin-bottom: 40px;
      li:last-child {
        border-left: none;
      }
    }
    time {
      display: block;
      margin-bottom: 5px;
      margin-top: -5px;
      font-size: 13px;
      font-weight: 400;
      color: #353535;
      &::before {
        content: ' ';
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background: #fff;
        border: 1px solid #636363;
        margin-right: 5px;
        margin-left: -13px;
      }
    }
    h4 {
      margin-bottom: 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    a {
      color: $label-blue;
    }
  }

  .image-social.ng-hide-add, .image-social.ng-hide-remove {
      /* ensure visibility during the transition */
      display: block !important; /* yes, important */
  }
  .image-social.ng-hide {
     display: block !important;
     max-height: 0px;
     //transform: scale3d(1,0,1);
     opacity: 0;
     a {
       transform: scale3d(.8,.8,.8);
     }
  }

  .image-social {
    //transform: scale3d(1,1,1);
    display: block;
    transition: .5s all;
    max-height: 200px;
    a {
      transition: .5s all;
      transform: scale3d(1,1,1);
    }
  }
  .image-social .social-links {
    margin-left: 0;
  }
  .social-links {
    margin: 0 $side-margin 10px;
    padding-bottom: 5px;
    a {
      border: none;
    }
    .icon-facebook {
      background: #395999;
    }
    .icon-twitter {
      background: #578fcb;
    }
    .icon-google {
      background: #de4b39;
    }
    .icon-mail {
      background: #999;
    }
    .icon-sms {
      background: #71af5d;
    }
  }
}