.story-wrapper {
  padding-top: 20px;
  .meta-wrapper, h1, .byline-wrapper, .subheader, .article-body {
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
  .article-body {

  }
  .embedded-article {

  }
  .meta-wrapper.dates {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 32px;
  }
  
  h2.article-section-header {
    font-family: $berlingske-sans;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 19px;
    margin: 0 $side-margin 20px;
    border-top: 1px solid #b2b2b2;
    padding-top: 15px;
  }
  figure {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  time.publish-date {
    display: block;
    margin: 0 0 6px;
  }
  figcaption {
    margin-left: $side-margin;
    margin-right: $side-margin;
    color: #777;
    &::before {
      opacity: 0.5;
      //background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAANSAAADUgEQACRKAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAJNQTFRF////AAAAAAAAAAAAAAAAAAAAAAAIAAAHAAAHAAAGBQAFBAAEBAAEBAAEAwADAwADAwADAwADAwADAwADAwAFAgAFAgAFAgAFAgAEAgAEAgAEBAIEBAIEBAIEBAIEAwIDAwIDAwEEAwEEAwEEAwEEAwEEAgEEAwEDAwEEAwEEAwEEAwEEAwEEAwEEAwEEAwEEAwEE0MqKkQAAADB0Uk5TAAIRFBwdIiMnKjA5PUNJSktOUldkamxxc3R8gYOGj5idrLS2uMjO3OXp8PH19/j9GimECAAAAL5JREFUGBmdwVdywkAURcEjENnkJBNFBsHA3f/qUD1NTUHBj90N/9Vbez3eNBQ0eDVXMOdF86zg3MTEqdMHl8ak8g6zTmd2kJfiZO5JRC5K7pK2mRwqjKDc75dhJD1+thIyexhkUjaAvfSQhMyQ6k25W5WhDDI1fmUSajLIlFjKLCnJINOmK9OlLYPMAjbKbWAhg4yrE012u0lE3cmgwrGCqRxVQN51HEM8vsrjpOByUXBiqq+m0FqtP6xa/N0TtNY/FOtYLMkAAAAASUVORK5CYII22a201b22c4c46bf2ec0a5342a90c129');
      background-image: url('/assets/images/cameraicon.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      content: ' ';
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      bottom: -2px;
      position: relative;
    }
  }
  .byline-wrapper {
    padding-top: 15px;
    font-family: $berlingske-sans;
    font-size: 13px;
    border-top: 1px solid #d7d7d7;
    color: #747474;
    font-weight: bold;
    & > * {
      margin-bottom: 2px;
    }
    margin-bottom: 10px;
  }
  .embedded-article {
    color: $label-blue;
  }
  .embedded-article::before {
    font-weight: bold;
    display: block;
    content: 'Læs også: ';
    color: #242424;
  }
  ul.tags {
    margin: 0 $side-margin;
    li {
      display: inline-block;
    }
    .tag-link {
      @include buttonize();
      padding-left: 14px;
      padding-right: 14px;
      background: #f0f0f0;
      border: none;
      color: #6f6f6f;
      margin-right: 10px;
    }
  }
  .article-related {
    ul {
      margin: 0 $side-margin;
    }
    li {
      @include clearfix();
      margin-top: 3px;
      margin-left: 3px;
      padding-left: 8px;
      border-left: 1px solid #d2d2d2;
      border-top: 1px solid transparent;
      &:last-child {
        border-left-style: dashed;
        border-left-color: #c2c2c2;
      };
    }
    ul.all-shown {
      margin-bottom: 40px;
      li:last-child {
        border-left-style: solid;
        border-left-color: #d2d2d2;
      }
    }
    time {
      display: block;
      margin-bottom: 5px;
      margin-top: -5px;
      font-size: 13px;
      font-weight: 400;
      color: #353535;
      &::before {
        content: ' ';
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background: #fff;
        border: 1px solid #636363;
        margin-right: 5px;
        margin-left: -13px;
      }
    }
    h4 {
      margin-bottom: 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }
    a {
      color: $label-blue;
    }
  }
  .social-links {
    margin: 0 $side-margin 10px;
    padding-bottom: 5px;
    a {
      border: none;
    }
    .icon-facebook {
      background: #395999;
    }
    .icon-twitter {
      background: #578fcb;
    }
    .icon-google {
      background: #de4b39;
    }
    .icon-mail {
      background: #999;
    }

  }
}