
.static-content {
  font-family: $berlingske-sans;
  margin: 0 $side-margin;
  line-height: 1.4;
  a {
    color: $label-blue;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}
