.page-editorial-page {
  h1 {
    font-style: italic;
  }
  h4.subheader {
    border-bottom: 1px solid #dddddd;
  }
  .article-body p:first-child:first-letter { float: left; font-size: 500%; line-height: 1.05; padding-right: 2px; padding-left: 3px }
}

.editorial-header h2 {
  font-family: 'Berlingske Sans';
  font-size: 22px;
  font-weight: 900;
  color: #333333;
  text-transform: uppercase;

}
.editorial-header {
  display: flex;
  width: 100%;
  padding: 0 $side-margin;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
  .text-wrapper {
    width: 55%;
    flex-grow: 6;
  }
}

.editorial-image-wrapper {
  width: 40%;
  padding-left: 10px;
  flex-grow: 4;
  align-self: flex-end;
}
.editorial-image {
  vertical-align: bottom;

}
