.page-search-page {
  h1 {
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
}

#search-show-more {
  width: 90%;
  font-size: 20px;
  background: none;
  border: none;
  border-radius:10px;
  background: #999;
  color: #fff;
  min-height: 60px;
  margin: 20px $side-margin 80px;  
}