<ul class="menu">
  <li><a ng-click="closeMenu()" ng-href="/" href>Forside</a></li>
  <li><a ng-click="closeMenu()" ng-href="/seneste" href>Seneste nyt</a></li>
  <li><a ng-click="closeMenu()" ng-href="/oestjylland" href>Østjylland</a></li>
  <li><a ng-click="closeMenu()" ng-href="/danmark" href>Danmark</a></li>
  <li><a ng-click="closeMenu()" ng-href="/sport" href>Sport</a></li>
  <li><a ng-click="closeMenu()" ng-href="/verden" href>Verden</a></li>
  <li><a ng-click="closeMenu()" ng-href="/erhverv" href>Erhverv</a></li>
  <li><a ng-click="closeMenu()" ng-href="/alarm112" href>Alarm 112</a></li>
  <li><a ng-click="closeMenu()" ng-href="/navne" href>Navne</a></li>
  <li><a ng-click="closeMenu()" ng-href="/kultur" href>Kultur</a></li>
  <li><a ng-click="closeMenu()" ng-href="/debat" href>Debat</a></li>
  <li><a ng-click="closeMenu()" ng-href="/foto" href>Foto</a></li>
</ul>
<div class="social">
  <a href class="icon icon-facebook"></a><a href class="icon icon-twitter"></a><a href class="icon icon-google"></a>
</div>
<div class="buttons">
  <a href="mailto:red@stiften.dk?subject=Tip Stiften" class="button">Tip os!</a><a href class="button">Køb abonnement</a>
</div>