  <a class="article-content" href ng-href="{{ article.link | relativize }}">
    <img ng-if="article[1].attributes.url" ng-src="{{ ::article[1].attributes.url }}" />
    <div ng-if="article.content_type == 'video'" class="icon icon-video"></div>
    <div ng-if="article.content_type == 'image_gallery'" class="icon icon-images"></div>
  </a>
  <div class="meta-wrapper">
      <a class="label" href ng-href="/{{ article.category_id }}">{{ article.category }}</a><span ng-show="showTime">·</span><time ng-show="showTime" class="publish-date">{{ article.pubDate | date:"d. MMMM, HH:mm"}}</time>
  </div>
  <a href ng-href="{{ article.link | relativize }}">  
    <h2>{{ article.title }}</h2>
  </a>
