<div class="story-wrapper" ng-class="story.alertType">
  <div berl-emediate cu="28269" tag="article"></div>
  <div class="story-header">
    <div class="meta-wrapper">
      <span ng-if="story.alertType == 'alert-breaking'"><span class="label label-breaking">Breaking</span>&nbsp;·&nbsp;</span>
      <a class="label" href>{{ story.category }}</a>
    </div>
    <h1>{{ ::story.title }}</h1>
    <h4 class="subheader">{{ ::story.description }}</h4>

  </div>

  <div stiften-video ng-if="story.content_type == 'video'"></div>
  <div stiften-video-link ng-if="story.content_type == 'webtv_link'"></div>
  <div stiften-gallery ng-if="story.content_type != 'video' && story.content_type != 'webtv_link'" ></div>
  <div stiften-share-links></div>
  <div class="byline-wrapper">
    <div ng-if="story.author && story.author.length > 0" class="byline">Af: <span class="byline-element" ng-repeat="byline in story.author">{{ ::byline.value.name }}</span></div>
  </div>
  <div class="meta-wrapper dates">
    <time class="publish-date">{{ ::story.pubDate | date:"d. MMMM yyyy, HH:mm"}}</time>
  </div>
  <div class="article-ratings" ng-if="story.rating" stiften-rating rating="{{ story.rating }}"></div>
  <div berl-emediate cu="30127" tag="article"></div>
  <div class="article-body" stiften-content-body="story['content']" ng-if="story['content']"></div>
  <div class="paywall-wrapper" ng-if="story.plus_access===undefined || !story.plus_access || !$root.token">
    <div stiften-factbox ng-if="story.factId" class="factbox" fact-id="{{ story.factId }}"></div>
    <div stiften-fbcomments class="stiften-fbcomments"></div>
    <div stiften-share-links></div>
    <div stiften-author-info ng-if="story.author[0].value.avatar" class="author-info"></div>
    <h2 class="article-section-header" ng-if="story.tags.length > 0 || story.relatedStories.length > 0 ">Læs også</h2>
    <ul class="tags">
      <li ng-repeat="tag in story.tags">
        <a href class="tag-link" ng-href="{{ ::tag.attributes.label }}">{{ ::tag.value }}</a>
      </li>
    </ul>
    <div ng-if="story.relatedStories" class="article-related">
      <ul ng-class="{ 'all-shown': displayed >= story.relatedStories.length}">
        <li ng-repeat="related in (filteredItems = (story.relatedStories | orderBy : '-pubDate')) | limitTo: displayed">
          <time class="publish-date">{{ ::related.pubDate | customdate }}</time>
          <h4 class="related-title">
            <a ng-href="{{ related.link | relativize }}">
              {{ ::related.title }}
            </a>
          </h4>
        </li>
      </ul>
      <a class="expand-link" ng-hide="displayed >= story.relatedStories.length" href ng-click="showMore()">Vis alle <span class="icon-down"></span></a>
    </div>
    <hr class="article-divider" ng-if="story.tags.length > 0 || story.relatedStories.length > 0 " />
  </div><!-- PAYWALL-wrapper -->
</div>
<div class="extras" ng-if="story.plus_access===undefined || (story.plus_access && $root.token)">
  <h3 ng-if="story.isInSports" class="section-header">Lokale hold</h3>
  <div ng-if="story.isInSports" stiften-sports-teams></div>

  <h3 class="section-header">Tophistorier</h3>
  <div stiften-default-article-list stiften-nodequeue-list short-timestamps id="1011" initial="3" items="10" all-link-text="Gå til forsiden" all-link="/" class="image-article-list"></div>
  <h3 class="section-header">Populært på stiften</h3>
  <div stiften-most-popular-article-list stiften-chartbeat-list initial="5" items="10" class="most-popular-article-list"></div>
  <h3 class="section-header">Redaktionen anbefaler</h3>
  <div stiften-default-article-list stiften-nodequeue-list id="5636" initial="3" items="8" class="image-article-list"></div>
</div>
<div stiften-paywall class="paywall-message" ng-if="story.plus_access!==undefined && !story.plus_access && !$root.user"></div>