<div class="story-wrapper">
  <div class="story-header">
  <h1>{{ ::story.title }}</h1>
  <div class="byline-wrapper">
    <div class="byline" ng-if="story.author && story.author.length > 0">Af: <span class="byline-element" ng-repeat="byline in story.author">{{ ::byline.value.name }}</span></div>
    <time class="publish-date">{{ ::story.pubDate | date:"d. MMM yyyy HH:mm"}}</time>
  </div>
  <div stiften-share-links></div>
  <h4 class="subheader">{{ ::story.description }}</h4>
  <ul class="gallery-images">
    <li id="image-{{$index + 1}}" ng-repeat="image in story.images">
      <figure class="gallery-image-wrapper">
        <img ng-src="{{ image.src }}" alt />
        <figcaption>
          <div class="counter">{{ $index+1 }} / {{ ::story.images | propertyCounter }} <a href class="icon-share" ng-click="image.showShowSocial = image.showShowSocial ? false : true"></a></div>
          <div stiften-share-links ng-show="image.showShowSocial" anchor="image-{{$index + 1}}" class="image-social ng-hide-animate"></div>
          <div class="caption">
            {{ ::image.caption }}
          </div>
          <div ng-if="image.author" class="byline"><span class="byline-label">Foto: </span><span class="byline-element" ng-repeat="byline in image.author">{{ ::byline.value.name }}</span></div>

        </figcaption>
      </figure>

      <!-- $index%5==0 && $index>0 -->
      <div berl-emediate cu="28268" tag="gallery" ng-if="$index===5"></div>
    </li>
  </ul>
</div>
<h2 class="article-section-header" ng-if="story.tags.length > 0">Læs mere om</h2>
<ul class="tags">
  <li ng-repeat="tag in story.tags">
    <a href class="tag-link" ng-href="{{ ::tag.attributes.label }}">{{ ::tag.value }}</a>
  </li>
</ul>

<h3 class="section-header">Flere gallerier</h3>
<div stiften-gallery-article-list stiften-nodequeue-list id="5861" initial="3" items="8" imagesize="800x600" class="gallery-article-list" all-link-text="Se alle gallerier" all-link="/gallerier" filter-current></div>
<h3 ng-if="story.isInSports" class="section-header">Nyt fra de lokale hold</h3>
<div ng-if="story.isInSports" stiften-sports-teams></div>
<h3 class="section-header">Populært på stiften</h3>
<div stiften-most-popular-article-list stiften-chartbeat-list initial="5" items="10" class="most-popular-article-list"></div>
<h3 class="section-header">Tophistorier</h3>
<div stiften-default-article-list stiften-nodequeue-list no-timestamps id="1011" initial="5" items="10" all-link-text="Gå til forsiden" all-link="/" class="image-article-list"></div>
<h3 class="section-header">Redaktionen anbefaler</h3>
<div stiften-default-article-list stiften-nodequeue-list id="5636" initial="3" items="8" class="image-article-list"></div>