
<div class="toplistnav anim-crossfade">
    <ul id="toplistnav">
        <a href ng-click="setTab(1)" class="like">
            <li ng-class="{activelike:tabIsSet(1)}" class="like">
                <div class="toplisticon"><div class="icon icon-heart"></div></div>
                OPTUR
            </li>
        </a>
        <a href ng-click="setTab(2)">
            <li ng-class="{active:tabIsSet(2)}" class="dislike">
                <div class="toplisticon"><div class="icon icon-thumb-down"></div></div>
                NEDTUR
            </li>
        </a>
        <a href ng-click="setTab(3)">
            <li ng-class="{activehottab:tabIsSet(3)}" class="hot">
                <div class="toplisticon" ng-class="{activehot:tabIsSet(3)}" style="left:-0px">
                    <div class="icon icon-hot" style="font-size:60px"></div>
                </div>
            </li>
        </a>
    </ul>
</div>
<div ng-show="showTagSwitch" class="toplistswitch-container toplist-switch-animation">
    <ul id="toplistswitch">
        <li>DETTE TAG</li>
        <li>
            <a href ng-click="switchShowTagStatus()">
                <div class="switch">
                    <div ng-switch="topListCtrlTags">
                        <div ng-switch-when="0">
                            <div class="icon icon-switch-right" ></div>
                        </div>
                        <div ng-switch-when="1">
                            <div class="icon icon-switch-left"></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>ALLE TAGS</li>
    </ul>
</div>
<div class="toplistarticles-container" ng-class="[tabSwitchPlacer]">
    <table cellpadding="0" cellspacing="0" id="toplistarticles">
        <tr ng-repeat="article in topListArticles.items" ng-class-odd="'odd'" ng-class-even="'even'" class="toplist-article-stagger">
            <td class="toplistcount">
                {{$index + 1}}
            </td>
            <td class="toplistarticle">
                <a ng-href="{{article.tags[0].slug}}/{{article.slug}}" ng-click="closeMenus()">{{::article.title | filter:articleLetterLimit}}</a>
            </td>
            <td class="toplistcolor" ng-style="{'background': article.tags[0].template.backgroundColor}"></td>
        </tr>
    </table>

</div>

