/* GENERIC LIST PROPERTIES */
.header-article-list, .image-article-list, .most-popular-article-list {
  margin: 0 $side-margin;
  padding-top: 6px;
  margin-bottom: 40px;
  article {
    @include list-article();
  }
  article:last-child {
    border-bottom: none;
  }

  .article-content {
    display: block;
  }
}
.header-article-list, .image-article-list, .featured-article-list {
  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 6px;
    margin-bottom: 13px;
  }
}




/* IMAGE ARTICLE LIST ITEM */
.image-article-list {
  padding-top: 14px;
  article {
    margin-bottom: 15px;
  }
  img {
    margin-bottom: 5px;
  }
  h2 {
    margin-bottom: 10px;
  }
}

/* HEADER ARTICLE LIST ITEM */
.header-article-list .header-article-list-article {
  margin-bottom: 3px;
  background: $header-list-background;
  border-bottom: none;
}

.header-article-list-article {
  @include clearfix;
  a {
    display: flex;
    padding: 10px;
  }
  time {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #353535;
    .icon-time {
      font-size: 12px;
      margin-right: 3px;
    }
  }
  h2 {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    padding-right: 10px;
    margin-bottom: 0px;
    letter-spacing: .015em;
  }
}

/* FEATURED ARTICLE LIST ITEM */
.featured-article-list {
  .featured-article-list-article {
    position: relative;
    min-height: 280px;
    margin-bottom: 20px;
    @include clearfix();
    .featured-overlay {
      background: linear-gradient(0deg, rgba(0,0,0, 0.8), rgba(0,0,0, 0.1), rgba(0,0,0, 0));
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .content-wrapper {
      left: $side-margin;
      right: $side-margin;
      position: absolute;
      bottom: 5px;
      z-index: 3;
      .label {
        color: #fff;
        font-size: 13px;
      }
      .label.label-breaking {
        background: $breaking-background-color;
        padding: 4px 6px 2px;
        border-radius: 2px;
        display: inline-block;
      }
    }
    .img-div {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      vertical-align: bottom;
      height: 280px;
      max-width: none;
      width: auto;
    }

    h2 {
      color: #fff;
      font-size: 28px;
    }
  }
}
@keyframes fadeoutpopular {
    from {
      opacity: 1;
      max-height: auto;
    }
    to {
      opacity: 0;
      max-height: 0px;
    }
}
@keyframes fadeinpopular {
    from { opacity: 0}
    to { opacity: 1}
}

/* MOST POPULAR ARTICLE LIST ITEM */
.most-popular-article-list {
  .popular-inner {
    margin: 10px 0 20px;
    position: relative;
    height: 380px;
    overflow: hidden;
  }
  .popular-inner.expanded {
    height: 760px;
    margin-bottom: 40px;
  }
  article {
    width: 100%;
    margin-bottom: 14px;
    transition: transform .5s;
    position: absolute;
    top: 0px;
    height: 75px;
    padding-top: 10px;
  }
  @for $i from 1 through 30 {
    .popular-item-#{$i} {
      transform : translateY(75px * $i);
    }
  }

  .ng-leave-active {
    display: none;
  }
  .ng-move-active {
    animation-name: fadeinpopular;
    animation-duration: .4s;
  }
  .ng-enter-active {
    animation-name: fadeinpopular;
    animation-duration: .8s;
  }

  article a {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 14px;
  }
  .counter {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    align-self: flex-start;
    text-align: center;
    border-radius: 100%;
    border: 1px solid $stiften-orange;
    font-family: $berlingske-text;
    font-weight: bold;
    font-size: 19px;
    padding-top: 11px;
  }
  h2 {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: $berlingske-text;
    font-size: 18px;
    align-self: flex-start;
  }
}
/* EDITORIAL ARTICLE LIST ITEM */
.editorial-article-list {
  margin-bottom: 40px;
  article {
    margin-top: 0px;

  }
  .section-header.section-header-editorial {
    padding-left: $side-margin;
    padding-right: $side-margin;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .label {
    font-family: $berlingske-sans;
    font-weight: 900;
    font-size: 22px;
    color: #333;
    margin-bottom: 2px;
  }
  .byline {
    font-family: $berlingske-sans;
    font-weight: 400;
    font-size: 15px;
    color: #7b7b7b;
  }
  h2 {
    font-family: $berlingske-text;
    color: #333;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px 0 10px 0;
  }
  article a {
    background: #f2f2f2;
    display: flex;
    width: 100%;
    padding: 0 $side-margin;
    flex-direction: row;
    justify-content: space-between;

  }

  .editorial-image-wrapper {
    width: 40%;
    padding-left: 10px;
    flex-grow: 4;
    align-self: baseline;
  }
  .editorial-image {
    vertical-align: bottom;

  }
  .text-wrapper {
    width: 55%;
    flex-grow: 6;
  }

}
/* GALLERY ARTICLE LIST ITEM */
.gallery-article-list {
  margin-bottom: 40px;
  article {
    margin: 15px $side-margin 0;
    min-height: 280px;
    a {
      display: block;
      width: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      vertical-align: bottom;
      height: 280px;
      box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.7);
    }
  }
  .gallery-text-wrapper {
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0, 0.7);
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    .image-counter {
      width: 60px;
      flex: 0 0 60px;
      padding: 5px 5px 0;
      font-size: 34px;
      .counter {
        position: absolute;
        font-size: 20px;
        left: 24px;
        top: 27px;
        width: 20px;
        text-align: center;
      }
    }
    h2 {
      margin: 0;
      margin-top: 4px;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}
