/* LISTS */
.header-article-list, .image-article-list {
  margin: 0 $side-margin;
  padding-top: 6px;
}

/* GENERIC LIST ITEMS */
.header-article-list, .image-article-list {
  article {
    margin-bottom: 20px;
    border-bottom: 1px solid $divider-default;
  }
}

.meta-wrapper {
  font-size: 13px;
  overflow: auto;
  margin-bottom: 6px;
  padding-top: 1px;
}
.article-content {
  display: block;
}

.publish-date {
  float: right;
  color: #747474;
}
.label {
  float: left;
}
a {
  color: $header-color;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 6px;
  margin-bottom: 13px;
}
/* IMAGE ARTICLE LIST ITEM */
.image-article-list {
     padding-top: 14px;
  .image-article-list-article {

  }
}

/* HEADER ARTICLE LIST ITEM */
.header-article-list .header-article-list-article {
  margin-bottom: 8px;
}
.header-article-list-article {
  @include clearfix;
  a {
    display: flex;  
  }
  time {
    float: right;
    text-align: right;
    display: block;
    margin-top: 10px;
    font-size: 13px;
  }
  h2 {
    flex: 1;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    padding-right: 10px;
    margin-bottom: 10px;
    letter-spacing: .015em;
  }
}
