.meta-wrapper {
  font-size: 13px;
  overflow: auto;
  margin-bottom: 6px;
  padding-top: 1px;
  .label {
    font-size: 13px;
    margin-right: 6px;
    color: $label-blue;
  }
  .publish-date {
    color: #747474;
    margin-left: 6px;
  }
}