/* GENERIC LIST PROPERTIES */
.header-article-list, .image-article-list, .most-popular-article-list {
  margin: 0 $side-margin;
  padding-top: 6px;
  article {
    @include list-article();
  }

  .article-content {
    display: block;
  }
}
.header-article-list, .image-article-list, .featured-article-list {
  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 6px;
    margin-bottom: 13px;
  }
}




/* IMAGE ARTICLE LIST ITEM */
.image-article-list {
  padding-top: 14px;
  img {
    margin-bottom: 5px;
  }
}

/* HEADER ARTICLE LIST ITEM */
.header-article-list .header-article-list-article {
  margin-bottom: 8px;
  background: $header-list-background;
  border-bottom: none;
}

.header-article-list-article {
  @include clearfix;
  a {
    display: flex;
    padding: 15px 10px 10px;
  }
  time {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 900;
    color: #747474;
  }
  h2 {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    padding-right: 10px;
    margin-bottom: 10px;
    letter-spacing: .015em;
  }
}

/* FEATURED ARTICLE LIST ITEM */
.featured-article-list {
  .featured-article-list-article {
    position: relative;
    min-height: 280px;
    margin-bottom: 20px;
    @include clearfix();
    .featured-overlay {
      background: linear-gradient(0deg, rgba(0,0,0, 0.8), rgba(0,0,0, 0.1), rgba(0,0,0, 0));
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .content-wrapper {
      left: $side-margin;
      right: $side-margin;
      position: absolute;
      bottom: 5px;
      z-index: 3;
      .label {
        color: #fff;
        font-size: 13px;
      }
      .label.label-breaking {
        background: $breaking-background-color;
        padding: 4px 6px 2px;
        border-radius: 2px;
        display: inline-block;
      }
    }
    .img-div {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      vertical-align: bottom;
      height: 280px;
      max-width: none;
      width: auto;
    }

    h2 {
      color: #fff;
      font-size: 28px;
    }
  }
}

/* MOST POPULAR ARTICLE LIST ITEM */
.most-popular-article-list {
  margin-top: 10px;
  article a {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
  }
  .counter {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    align-self: flex-start;
    text-align: center;
    border-radius: 100%;
    border: 1px solid $stiften-orange;
    font-family: $berlingske-text;
    font-weight: bold;
    font-size: 19px;
    padding-top: 11px;
  }
  h2 {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $berlingske-text;
    font-size: 18px;
    align-self: flex-start;
  }
}
/* EDITORIAL ARTICLE LIST ITEM */
.editorial-article-list {
  margin-bottom: 40px;
  article {
    margin-top: 70px;
  }
  .label {
    font-family: $berlingske-sans;
    font-weight: 900;
    font-size: 22px;
    color: #333;
    margin-bottom: 2px;
  }
  .byline {
    font-family: $berlingske-sans;
    font-weight: 400;
    font-size: 18px;
  }
  article a {
    background: #f2f2f2;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding-bottom: 10px;
  }
  h2 {
    font-family: $berlingske-text;
    color: #333;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    margin-top: 0px;
    margin-left: $side-margin;
    margin-right: $side-margin;
    margin-bottom: 0px;
  }
  article .img-div {
    flex: 0 0 110px;
    width: 110px;
    height: 110px;
    align-self: flex-start;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -35px;
    border: 1px solid #b2b2b2;
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
  .meta-wrapper {
    margin: 15px $side-margin 0;
    display: block;
    width: 100%;
    align-self: flex-start;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 10px;
  }
}