/* LISTS */
.header-article-list, .image-article-list {
  margin: 0 $side-margin;
}

.image-article-list {
  padding-top: 14px;
}

/* GENERIC LIST ITEMS */
.header-article-list, .image-article-list {
  article {
    margin-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
  }
}

.meta-wrapper {
  font-size: 13px;
  overflow: auto;
  margin-bottom: 6px;
  padding-top: 1px;
}
.article-content {
  display: block;
}

.publish-date {
  float: right;
  color: #747474;
}
.label {
  float: left;
}
a {
  color: #333;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 6px;
  margin-bottom: 13px;
}
/* IMAGE ARTICLE LIST ITEM */
.image-article-list-article {

}

/* HEADER ARTICLE LIST ITEM */
.header-article-list-article {
   @include clearfix;

  time {
    float: left;
    text-align: right;
    display: block;
    width: 10%;
    margin-top: 12px;
  }
  h2 {
    float: left;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
  }
}
