/* GENERIC LIST PROPERTIES */
.header-article-list, .image-article-list  {
  margin: 0 $side-margin;
  padding-top: 6px;
  article {
    @include list-article();
  }

  .article-content {
    display: block;
  }
}
.header-article-list, .image-article-list, .featured-article-list {
  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 6px;
    margin-bottom: 13px;
  }
}




/* IMAGE ARTICLE LIST ITEM */
.image-article-list {
  padding-top: 14px;
  img {
    margin-bottom: 5px;
  }
}

/* HEADER ARTICLE LIST ITEM */
.header-article-list .header-article-list-article {
  margin-bottom: 8px;
}
.header-article-list-article {
  @include clearfix;
  a {
    display: flex;
  }
  time {
    float: right;
    display: inline;
    margin-top: 10px;
    font-size: 13px;
  }
  h2 {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    padding-right: 10px;
    margin-bottom: 10px;
    letter-spacing: .015em;
  }
}

/* FEATURED ARTICLE LIST ITEM */
.featured-article-list {
  .featured-article-list-article {
    position: relative;
    min-height: 280px;
    margin-bottom: 20px;
    @include clearfix();
    .featured-overlay {
      background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0));
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .content-wrapper {
      left: $side-margin;
      right: $side-margin;
      position: absolute;
      bottom: 5px;
      z-index: 100;
      a.label {
        color: #fff;
        font-size: 13px;
      }
    }
    .img-div {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      vertical-align: bottom;
      height: 280px;
      max-width: none;
      width: auto;
    }

    h2 {
      color: #fff;
      font-size: 28px;
    }
  }
}