.cookie-informer {
  z-index: 70;
}
#cookie-informer-content {
  height: $cookie-consent-height;
  background: #4f4f4f;
  color: #FFF;
  padding: $side-margin;
  a {
    color: #fff;
    text-decoration: underline;
  }
  button {
    background: #2abff3;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    width: 180px;
    padding: 10px 20px;
    display: block;
  }
  img {
    float: left;
    width: 30px;
  }
  p {
    margin-left: 40px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25;
  }

}