.cookie-informer {
  z-index: 70;
}
#cookie-informer-content {
  height: $cookie-consent-height;
  background: #4f4f4f;
  color: #FFF;
  padding: $side-margin;
  a {
    color: #fff;
    text-decoration: underline;
  }
  button {
    background: #2abff3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    width: 180px;
    padding: 10px 20px;
    display: block;
  }
  h2 {
    width: 100%;
    img {
      float: right;
      width: 40px;
    }
  }
}