.gallery-slide {
  width: 100vw;
  img {
    max-height: 60vh;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    height: auto;
    display: block;
  }
}
.article-image {
  position: relative;
  .gallery-link {
    position: absolute;
    top: 0;
    z-index: 40;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.gallery-closer {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;

}
.gallery-indicator {
  width: 100vw;
  text-align: center;
  .indicator {
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    };
  }
  .indicator.active {
    background: #fff;
  }

}
.article-gallery-overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  padding-top: 40px;
  background: #000;
  height: 100%;
  display: none;
  opacity: 0;
  figure.gallery-image-wrapper {
    background: #000;
  }
  figure figcaption::before {
    // change to white icon
  }
}
.article-gallery-overlay.shown-add-active {
  display: block;
  animation: overlay-add .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.article-gallery-overlay.shown-remove-active {
  display: block;
  animation: overlay-remove .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.article-gallery-overlay.shown {
  display: block;
  opacity: 1;
}
@keyframes overlay-add {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}
@keyframes overlay-remove {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}