.image-article-list {
  margin-top: 14px;
}

.meta-wrapper {
  font-size: 13px;
  overflow: auto;
  margin-bottom: 6px;
  padding-top: 1px;
}
.article-content {
  display: block;
}
.image-article-list-article {
  margin: 0 16px 20px;
  border-bottom: 1px solid #c5c5c5;
  .publish-date {
    float: right;
    color: #747474;
  }
  .label {
    float: left;
  }
  
}
a {
  color: #333;
}

a.label {
  
}
h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 6px;
  margin-bottom: 13px;
}