
.main-menu {
  background: #333;
  z-index: 30;
  position: fixed;
  top: $header-height;
  left: 0;
  height: 100vh;
  width: $menu-width;
  transition: transform $default-transition-time, opacity $default-transition-time;
  transform: translate3d(0, -100vh, 0);
  opacity: 0;
  ul {
    padding: 0;
    margin: 0;
    width: 48vw;
    float: left;
    margin-right: 2vw;
  }
  ul.col-second {
    margin-right: 0;
    margin-left: 2vw;
  }
  li {
    
    list-style-position: outside;
    list-style-type: none;
    border-bottom: 1px solid #4a4a4a;
  }
  a {
    background: #333;
    padding: $side-margin 25px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    font-family: 'Berlingske Sans';
    display: block;
    &:hover {
      background: #4a4a4a;
    }
  }
  
}

.menu-open .main-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
