
.main-menu {
  z-index: 50;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  height: 100vh;
  margin: 0 auto;
  width: $menu-width;
  max-width: $page-max-width;
  transition: transform $default-transition-time, opacity $default-transition-time;
  transform: translate3d(0, -150%, 0);
  opacity: 0;

  @include menu-base();

  ul.menu {
    border-top: 1px solid #4a4a4a;
  }

  .subscription-wrapper {
    padding: 0 20px;
  }
  .social-and-tip {
    position: relative;
    background: #333;
    @include clearfix();
  }
  .social, .tip {

    font-size: 16px;
    width: 50%;

  }
  .social {
    padding: 20px 5px 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    a {
      color: #fff;
      display: inline-block;
      padding: 10px 4px 0px;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border-radius: 100%;
      text-align: center;
      margin-right: 10px;
    }
    .icon-facebook {
      background: #395999;
    }
    .icon-twitter {
      background: #578fcb;
      &:before {
        content: "\e60a";
      }
    }
    .icon-google {
      background: #de4b39;
      margin-right: 0px;
    }
    .icon-instagram {
      background: #43739b;
    }
  }

  .buttons-wrapper {
    margin: 10px 0;
    display: flex;
  }
  .logout-button {
    width: 100%;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  .subscription-button, .login-button, .epaper-button, .tip-button {
    margin-left: 25px;
    margin-right: 25px;
    width: 50%;
    float: left;
  }
  .tip-button {
    @include buttonize();
    margin-right: 25px;
    padding-top: 14px;
    text-align: center;
  }
  .login-button {
    height: 40px;
    padding-top: 14px;
    text-align: center;
    background: none;
    border-width: 2px;
    color: #FFF;
  }
}

.menu-open .main-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
