
.main-menu {
  z-index: 50;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  height: 100vh;
  margin: 0 auto;
  width: $menu-width;
  max-width: $page-max-width;
  transition: transform $default-transition-time, opacity $default-transition-time;
  transform: translate3d(0, -150vh, 0);
  opacity: 0;

  @include menu-base();
  .subscription-wrapper {
    padding: 0 20px;
  }
  .social-and-tip {
    position: relative;
    background: #333;
    @include clearfix();
  }
  .social, .tip {

    font-size: 16px;
    width: 50%;

  }
  .social {
    padding: 20px 5px 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    a {
      color: #fff;
      display: inline-block;
      padding: 10px 4px 0px;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border-radius: 100%;
      text-align: center;
      margin-right: 10px;
    }
    .icon-facebook {
      background: #395999;
    }
    .icon-twitter {
      background: #578fcb;
      &:before {
        content: "\e60a";
      }
    }
    .icon-google {
      background: #de4b39;
      margin-right: 0px;
    }
    .icon-instagram {
      background: #43739b;
    }
  }
  .tip {
    padding: 20px 25px 20px 25px;
    position: absolute;
    top: 0;
    right: 0;
     .tip-button {
       @include buttonize();
       margin: 0;
       height: 40px;
       padding-top: 14px;
       text-align: center;
       width: 100%;

     }
  }

}

.menu-open .main-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
