@keyframes pulsate {
    from { opacity: 0;}
    to {opacity: 1;}
}
.alerts {
  position: fixed;
  top: $header-height;
  max-width: $page-max-width;
  z-index: 20;
  width: 100%;
}
.alert-wrapper {

  display: none;
  min-height: $alert-height;
  width: 100%;
  background: #f8f8f8;
  box-shadow: 0 1px 4px -2px #999;
  color: #212121;
  justify-content: space-around;
  align-items: stretch;
  a {
    color: #212121;
  }
  &.alert-displayed {
    display: flex;
  }
  .alert-content {
    display: block;
    width: 100%;
    padding: 22px 0 22px $side-margin;
  }
  .alert-closer {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    display: block;
    text-align: right;
    margin-right: $side-margin;
    margin-top: $side-margin;
  }
  .alert-label {
    font-size: 16px;
    font-weight: bold;
    font-family: $berlingske-sans;
    text-transform: uppercase;
    color: $label-blue;
  }
  .alert-title {
    font-size: 14px;
    font-weight: normal;
    font-family: $berlingske-sans;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .alert-icon {
    font-size: 19px;
    line-height: 0.5;
    display: inline-block;
    margin-right: 2px;
  }
  &.alert-breaking {
    color: #fff;
    background: $breaking-background-color;
    box-shadow: 0 1px 4px -2px #000;
    a {
      color: #fff;
    }
    .alert-label {
      color: #fff;
    }
    .alert-label .alert-icon {
      border-radius: 100%;
      border: 2px solid #ddd;
      width: 15px;
      height: 15px;
      line-height: 1;
      text-align: center;
      vertical-align: middle;
      margin-top: -2px;

      &::before {
        animation-name: pulsate;
        animation-duration: .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        font-size: 24px;
        top: -7px;
        position: relative;
        content: '•';
        text-align: center;
        display: block;

      }
    }
  }
}
body.cookie-consent-visible .alerts {
  top: $header-height + $cookie-consent-height;
}

body.alerts-open-2 {
  .outer-wrapper {
    margin-top: $alert-height * 2;
  }
}
body.alerts-open-1 {
  .outer-wrapper {
    margin-top: $alert-height;
  }
}
body.alerts-open-0 {
  .outer-wrapper, .main-menu {
    margin-top: 0;
  }
}