@keyframes pulsate {
    from { opacity: 0;}
    to {opacity: 1;}
}
.alert-wrapper {

  display: none;
  height: $alert-height;
  width: 100%;
  padding: 22px $side-margin;
  background: #f8f8f8;
  box-shadow: 0 1px 4px -2px #999;
  color: #212121;
  justify-content: space-around;
  align-items: stretch;
  a {
    color: #212121;
  }
  &.alert-displayed {
    display: flex;
  }
  .alert-content {
    display: block;
    width: 100%;
  }
  .alert-closer {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    display: block;
    text-align: right;

  }
  .alert-label {
    font-size: 14px;
    font-weight: bold;
    font-family: $berlingske-sans;
    text-transform: uppercase;
  }
  .alert-title {
    font-size: 14px;
    font-weight: normal;
    font-family: $berlingske-sans;
    margin-bottom: 0;
  }
  &.alert-breaking {
    color: #fff;
    background: $breaking-background-color;
    box-shadow: 0 1px 4px -2px #000;
    a {
      color: #fff;
    }
    .alert-label .alert-icon {
      border-radius: 100%;
      border: 1px solid #fff;
      width: 12px;
      height: 12px;
      line-height: 1;
      text-align: center;
      vertical-align: middle;
      margin-top: -2px;

      &::before {
        animation-name: pulsate;
        animation-duration: .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        font-family: Arial;
        font-size: 26px;
        line-height: 10px;
        content: '•';

      }
    }
  }
}
body.alerts-open-2 {
  .outer-wrapper, .main-menu {
    margin-top: $alert-height * 2;
  }
}
body.alerts-open-1 {
  .outer-wrapper, .main-menu {
    margin-top: $alert-height;
  }
}
body.alerts-open-0 .outer-wrapper {
  .outer-wrapper, .main-menu {
    margin-top: 0;
  }
}