
.alert-wrapper {
  display: none;
  height: 90px;
  width: 100%;
  padding: 22px $side-margin;
  background: #f8f8f8;
  box-shadow: 0 1px 4px -2px #999;
  color: #212121;
  justify-content: space-around;
  align-items: stretch;
  a {
    color: #212121;
  }
  &.alert-displayed {
    display: flex;
  }
  .alert-content {
    display: block;
    width: 100%;
  }
  .alert-closer {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100%;
    padding-top: 15px;
    font-family: $berlingske-sans;
  }
  .alert-label {
    font-size: 14px;
    font-weight: bold;
    font-family: $berlingske-sans;
    text-transform: uppercase;
  }
  .alert-title {
    font-size: 14px;
    font-weight: normal;
    font-family: $berlingske-sans;
    margin-bottom: 0;
  }
  &.alert-breaking {
    color: #fff;
    background: $breaking-background-color;
    box-shadow: 0 1px 4px -2px #000;
    a {
      color: #fff;
    }
  }
}