
.site-search {
  transform: translateY(-120vh);
  opacity: 0;
  transition: transform $default-transition-time, opacity $default-transition-time;
  width: 100%;
  position: absolute;
  left: 0;
  top: $header-height;
  z-index: 30;
  background: #fff; //rgba(223,223,223, 0.95);
  min-height: 100vh;
  padding: $side-margin;
  #search-field {
    border: none;
    background: none;
    font-size: 40px;
    color: #666;
    min-height: 50px;
    line-height: 1;
    padding-left: 0px;
    border-left-width: 0px;
    margin-left: 0px;
    width: 100%;
    font-family: 'Berlingske Sans';
    font-weight: normal;
    -webkit-appearance: textfield;
  }
  #search-submit {
    /*width: 100%;
    font-size: 20px;
    background: none;
    border: none;
    border-radius:10px;
    background: #999;
    color: #fff;
    min-height: 60px;
    margin-top: 20px; */
    //display: none;
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  input:focus {
    outline: none;
  };
}

.search-open .site-search {
  transform: translateY(0);
  opacity: 1;
}