
.search-form {
  transform: translateY(-120vh);
  transition: transform 0.3s;
  width: 100%;
  position: fixed;
  left: 0;
  top: $header-height;
  z-index: 30;
  background: #eee; //rgba(223,223,223, 0.95);
  min-height: 100vh;
  padding: $side-margin;
  #search-field {
    border: none;
    background: none;
    font-size: 40px;
    color: #666;
    min-height: 50px;
    line-height: 1;
    padding-left: 0px;
    border-left-width: 0px;
    margin-left: 0px;
  }
  #search-submit {
    width: 100%;
    font-size: 20px;
    background: none;
    border: none;
    border-radius:10px;
    background: #999;
    color: #fff;
    min-height: 60px;
    margin-top: 20px;
  }
  input:focus {
    outline: none;
  };
}

.search-open .search-form {
  transform: translateY(0);
}