
.site-search {

  #search-field {
    border: none;
    background: none;
    font-size: 30px;
    color: #666;
    min-height: 50px;
    line-height: 1.05;
    padding-left: 0px;
    border-left-width: 0px;
    margin-left: -5px;
    width: 100%;
    font-family: $berlingske-sans;
    font-weight: normal;
    -webkit-appearance: textfield;
  }
  #search-submit {
    height: 0px;
    width: 0px;
    opacity: 0;
    position: absolute;
  }
  input:focus {
    outline: none;
  };
}

