.section-header-menu {
  background: #ffba3b;
  position: relative;
  z-index: 45;
  @include clearfix();
  h1 {

    margin: 15px 0 10px $side-margin;
    float: left;
    color: #fff;
    font-size: 22px;
    font-family: $berlingske-sans;
    font-weight: 100;
    text-transform: uppercase;
    a {
      color: #fff;
    }
  }
}
.section-menu-link {
  margin: 10px $side-margin 0 0;
  font-size: 24px;
  font-weight: bold;
  padding-top: 8px;
  color: #fff;
  float: right;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-right: $side-margin;
  text-align: center;
  width: 30px;
  height: 30px;

}
.section-menu-pulldown {
  position: absolute;
  transform: translateY(-200%);
  transition: transform .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  z-index:40;
  &.submenu-open {
    transform: translateY(0);
  }
  @include menu-base();
  .menu-sports-teams {
    padding-top: 20px;
    background: #f8f8f8;
    border-bottom: 1px solid #b2b2b2;
    ul.sports-teams {
      padding-bottom: 0px;
    }
  }
}


