.section-header-menu {
  background: #ffba3b;
  position: relative;
  z-index: 45;
  @include clearfix();
  h1 {

    margin: 13px 0 13px $side-margin;
    float: left;
    color: #fff;
    font-size: 22px;
    font-family: $berlingske-sans;
    font-weight: 600;
    text-transform: uppercase;
    a {
      color: #fff;
    }
  }
}
.section-menu-link {
  margin: 6px $side-margin 0 0;
  font-size: 9px;
  font-weight: 700;
  padding-top: 14px;
  padding-left: 1px;
  color: #fff;
  float: right;
  border: 1px solid #fff;
  border-radius: 100%;
  text-align: center;
  width: 37px;
  height: 37px;

}
.section-menu-pulldown {
  position: absolute;
  transform: translateY(-200%);
  transition: transform .4s ease-in;
  z-index:40;
  &.submenu-open {
    transition: transform .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transform: translateY(0);
  }
  @include menu-base();
  .menu-sports-teams {
    padding-top: 20px;
    padding-bottom: 15px;
    background: #f8f8f8;
    box-shadow: 0 1px 4px 0px gray;
    z-index: 40;
    ul.sports-teams {
      padding-bottom: 0px;
    }
  }
}


