.site-footer {
  position: relative;
  z-index: 80;
  background: #1e1e1e;
  font-family: $berlingske-sans;
}
.footer-social, .footer-copyright, .footer-coorp {
  padding-left: 35px;
  padding-right: 35px;
}
.footer-links {
  padding: 15px 35px;
  background: #2f2f2f;
}
.footer-social {
  padding-top: 15px;
  padding-bottom: 25px;
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #575757;
  h2 {
    font-family: $berlingske-sans;
    font-weight: normal;
    font-size: 18px;
  }
  .icon {
    color: #d6d6d6;
    margin-right: 25px;
  }
  .icon:last-child {
    margin-right: 0px;
  };
}



.footer-links {
  margin-bottom: 20px;

  @include clearfix();
  .coorp-berl-media {
    max-width: 200px;
    display: block;
    margin: 25px 0;
  }
  a {
    display: block;
    padding: 10px 0;
    width: 60%;
    float: left;
    font-size: 14px;
    color: #fff;
  }
  .first-col {
    width: 40%;
  }
}
.footer-coorp {
  @include clearfix();
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  width: 272px;

  a {
  
  }
  a.coorp-aoa {
    padding-right: 0px;
  }
  img {
    height: 24px;
    width: auto;
    margin-right: 8px;
  }
}
.footer-copyright {
  font-size: 11px;
  padding-bottom: 20px;
  color: #919191;
  text-align: center;
  a {
    color: #919191;
  }
}

