.site-footer {
  background: #2f2f2f;
  font-family: $berlingske-sans;
}

.footer-social, .footer-copyright, .footer-coorp {
  padding-left: 35px;
  padding-right: 35px;
}
.footer-links {
  padding: 0 35px 15px;
  background: #2f2f2f;
  border-bottom: 1px solid #575757;
}
.footer-social {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  h2 {
    font-family: $berlingske-sans;
    font-weight: normal;
    font-size: 18px;
  }
  .icon {
    color: #d6d6d6;
    margin-right: 25px;
  }
  .icon:last-child {
    margin-right: 0px;
  };
}

.footer-location {
  text-align: center;
  padding-bottom: 20px;
  p {
    margin: 0 auto 10px;
    span.icon-pin { //icon
      font-size: 12px;
      color: #dbdbdb;
      margin-right: 5px;
    }
    span.icon-phone { //icon
      font-size: 9px;
      color: #dbdbdb;
      margin-right: 5px;
    }
    a {
      color: #dbdbdb;
      font-size: 13px;
      text-decoration: underline;
    }
  }
  img {
    width: 140px;
    margin-bottom: 10px;
    padding-left: 17px;
    height: auto;
  }
}

.footer-links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .first-col, .second-col {
    padding: 0 25px;
  }
  @include clearfix();
  .coorp-berl-media {
    max-width: 200px;
    display: block;
    margin: 25px 0;
  }
  a {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
  }

}

.footer-copyright {
  background: #1e1e1e;
  font-size: 11px;
  padding: 20px 0;
  color: #919191;
  text-align: center;
  a {
    color: #919191;
  }
}

