.site-header {
  top: 0px;
  z-index: 40;
  position: fixed;
  height: $header-height;
  width: 100%;
  max-width: $page-max-width;
  background: rgba(255,255,255, 0.95);
  font-family: $berlingske-sans;
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 5px;
  @include clearfix;
  .main-stiften-logo {
    float: left;
    img {
      width: 138px;
      vertical-align: bottom;
    }
  }
}
body.cookie-consent-visible .site-header {
  height: $header-height + $cookie-consent-height;
}
.header-wrapper {
  padding: 8px $side-margin 0;

  @include clearfix;
}
body.cookie-consent-visible .header-wrapper {
  top: $cookie-consent-height;
}

.header-link {
  margin-top: 2px;
  float: right;
  display: block;
  color: #000;
  background: #ffba3b;
  width: 38px;
  height: 38px;
  margin-left: 15px;
  border-radius: 100%;
  border: 1px solid #000;
  text-align: center;
  line-height: 1.3;
  font-weight: normal;
  font-size: 17px;
  line-height: 2.1;
}

// SEARCH ICON
.header-wrapper .icon-search {
  color: #333;
  background: #fff;
  border-color: #b2b2b2;
  font-size: 15px;
  line-height: 2.5;
}

body.search-closed .icon-search::before {
  animation-name: entre;
  animation-duration: $icon-animation-speed;
}
body.search-open .icon-search::before {
  animation-name: entre;
  animation-duration: $icon-animation-speed;
}
// set psedo content
body.search-open .icon-search::before {
  margin-right: -1px;
  content: "\e600";
}

// SEARCH ICON

.header-wrapper .icon-menu {
  color: #000;
  background: #ffba3b;
  border-color: #ffba3b;
  font-size: 13px;
  line-height: 2.9;
}

body.menu-closed .icon-menu::before {
  animation-name: entre;
  animation-duration: $icon-animation-speed;
}

body.menu-open .icon-menu::before {
  animation-name: entre;
  animation-duration: $icon-animation-speed;
}
// set psedo content
body.menu-open .icon-menu::before {
  content: "\e600";
}


/* The animation code */
@keyframes entre {
    0%   {
      opacity: 0;
      transform: scale3d(0,0,0);
    }
    100% {
      opacity: 1;
      transform: scale3d(1,1,1);
    }
}

/* The animation code */
@keyframes sortie {
    0%   {
      opacity: 1;
      transform: scale3d(1,1,1);
    }
    100% {
      opacity: 0;
      transform: scale3d(0,0,0);

    }
}