.site-footer {
  position: relative;
  z-index: 80;
  background: #1e1e1e;
  font-family: $berlingske-sans;
}
.footer-social, .footer-links, .footer-copyright, .footer-coorp {
  padding-left: $side-margin;
  padding-right: $side-margin;
}
.footer-social {
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  padding: 5px 0 15px;
  h2 {
    font-family: $berlingske-sans;
    font-weight: normal;
    font-size: 18px;
  }
  .icon {
    color: #d6d6d6
  }
  a {
    color: #fff;
    display: inline-block;
    padding: 10px 4px 0px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
  }
}

.footer-links {
  padding: 0px $side-margin;
  .coorp-berl-media {
    max-width: 200px;
    display: block;
    margin: 10px 0;
  }
  a {
    display: block;
    padding: 10px 0;
    width: 50%;
    float: left;
    font-size: 14px;
    color: #fff;
  }
}
.footer-coorp {
  @include clearfix();
  a {
    float: left;
  }
  img {
    height: 43px;
    width: auto;
  }
}
.footer-copyright {
  font-size: 11px;
  padding: 0px $side-margin 10px;
  color: #919191;
  a {
    color: #919191;
  }
}

