.site-footer {
  position: relative;
  z-index: 80;
  background: #1e1e1e;
}
.footer-social {
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  padding: 5px $side-margin 15px;
  h2 {
    font-family: $berlingske-sans;
    font-weight: normal;
    font-size: 18px;
  }
  .icon {
    color: #d6d6d6
  }
  a {
    color: #fff;
    display: inline-block;
    padding: 10px 4px 0px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
  }
}
