.site-header {
  top: 0px;
  z-index: 40;
  position: fixed;
  height: $header-height;
  padding: 8px $side-margin 0;
  width: 100%;
  max-width: $page-max-width;
  border-bottom: 1px solid #b2b2b2;
  font-family: $berlingske-sans;
  background: rgba(255,255,255, 0.95);
  padding-bottom: 5px;
  @include clearfix;
  .main-stiften-logo {
    float: left;
    img {
      width: 138px;
      vertical-align: bottom;
    }
  } 
}

.header-link {
  margin-top: 2px;
  float: right;
  display: block;
  font-size: 26px;
  color: #000;
  background: #ffba3b;
  width: 38px;
  height: 38px;
  margin-left: 15px;
  border-radius: 100%;
  border: 1px solid #000;
  text-align: center;
  line-height: 1.3;
  font-family: Arial, Helvetica;
  transition: .4s transform;
  img {
    vertical-align: middle;
    width: 20px;
  }
}
.icon-close {
  display: none;
}
.header-link.header-search-link {
  color: #7d7d7d;
  background: #fff;
  border-color: #b2b2b2;

}
body.search-open .header-link.header-search-link {
  .icon-search {
    display: none;
  }
  .icon-close {
    display: inline;
  }
}
.header-link.header-menu-link {
  color: #000;
  background: #ffba3b;
  border-color: #ffba3b;
}
body.menu-open .header-link.header-menu-link {
  .icon-menu {
    display: none;
  }
  .icon-close {
    display: inline;
  }
}