.sports-teams {
  white-space:nowrap;
  padding: 0 $side-margin 16px;
  margin-bottom: 0px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: block;
  width: 100%;
  li {
    max-width: 80px;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    max-height: 50px;
    width: auto;
    padding-right: 18px; 
  }
  li:last-child img {
    padding-right: 0px;
  }
}
.sports-teams::-webkit-scrollbar-track
{
  -webkit-box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.sports-teams::-webkit-scrollbar
{
  background-color: transparent;
}

.sports-teams::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: none;
  background-color: transparent;
}

.frontpage-sports-teams {
  margin-bottom: 40px;
}