.weather {

  color: #fff;

  .weather-wrapper {
    background: #81bdd4;
    padding: 2px 0;
  }
  .weather-wrapper.weather-day {
    background: linear-gradient(0deg, #c9e0f1, #0275a9);
  }
  .weather-wrapper.weather-evening {
    background: linear-gradient(0deg, #bf959f, #0b215b);
  }
  .weather-wrapper.weather-night {
    background: linear-gradient(0deg, #35597b, #0c2840);
  }
  .weather-wrapper.weather-morning {
    background: linear-gradient(0deg, #f9e9c0, #a2bbcf);
  }

  input {
     background: transparent;
     border: none;
     font-size: 22px;
     height: 29px;
     padding: 0px; /* If you add too much padding here, the options won't show in IE */
     width: 100%;

  }
  h1 {
    margin: 16px $side-margin 0;
    font-weight: 400;
    font-size: 26px;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    padding-bottom: 10px;
    .weather-temp {
      font-size: 40px;
    }
    .header-weather-icon {
      font-size: 40px;
    }
  }
  ul.weather-items {
    white-space:nowrap;
    padding: 0 $side-margin 16px;
    margin-bottom: 0px;
    overflow-x: auto;
    display: block;
    width: 100%;

    li {
      display: inline-block;
      list-style: none;
      width: 25%;
      text-align: center;
    }
    time {
      text-align: center;
      font-size: 22px;
      margin-bottom: 10px;
      display: block;
    }
    .wi {
      font-size: 40px;
    }
    .weather-icon-wrapper {
      margin-bottom: 20px;
    }
    .weather-temp {
      text-align: center;
      font-size: 30px;

    }
  }
}