<cookieinformer ng-show="cookieConsentVisibility != ''" class="cookie-informer"></cookieinformer>
<div class="header-wrapper">
  <div class="main-stiften-logo">
    <a href ng-href="/"><img src="/assets/images/stiftenlogo.svg" /></a>
  </div>
  <div class="header-buttons">
    <a href class="header-link header-menu-link icon-menu" ng-class="menuStatusClass" ng-click="menuOpen = !menuOpen"></a>
    <a href class="header-link header-search-link icon-search" ng-class="searchStatusClass" ng-click="searchClick($event)"></a>
  </div>
</div>