
  <form name="login-form" ng-submit="login(user)" class="login-form" ng-class="{'error': loginError}">
    <h2>Log ind på Stiften</h2>
    <p class="buy-subscription">Har du ikke abonnement? <a class="buy-link" href="http://abonnement.stiften.dk/" target="_blank">Køb et her</a></p>
    <div class="response">
      <div class="form-error" ng-if="loginError">
        Forkert login. Prøv igen. 
      </div>
      <div class="form-error" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">
        Indtast et password
      </div>
    </div>
    <input type="email" name="email" ng-required="true" placeholder="Indtast e-mail" ng-model="user.email" />

    <input type="password" name="password" ng-required="true" placeholder="Indtast adgangskode" ng-model="user.password"  />

    <input class="strong-button" ng-disabled="inactive" type="submit" name="submit" value="Log ind" id="submit" />


    <p class="forgot"><a href="http://stiften.dk/iframe/user/password" target="_blank">Jeg har glemt mit kodeord.</a></p>
  </form>