<a href="/">
    <span class="icon icon-stiften-background"></span>
    <span class="stiften-logo-colorer"></span>
</a>
<span class="copyright">Copyright&nbsp;&copy;&nbsp;{{::copyright}}</span>
<div class="disclaimer">
    <p>stiften.dk er en selvstændig enhed under Berlingske Media - Pilestræde 34 - 1147 København K - Danmark - Tlf. 33757533 - CVR 29207313</p>
    <p>Chefredaktør: Flemming Fjeldgaard - Redaktør: Mette Gert - Digital redaktør: Kevin Walsh.</p>
</div>
<span class="policy-links" >
    <a ng-repeat="policy in policies" ng-href="{{policy.link}}" target="_blank" ng-class="{'last':$last}">
        {{::policy.text}}
        <span class="separator"> | </span>
    </a>
</span>
<span class="social-networks">
    <a ng-repeat="social in socials" ng-href="{{social.account}}" target="_blank"><span class="icon icon-{{social.icon}}"></span></a>
</span>
