<ul>
  <li ng-repeat="article in articles | limitTo: displayed : 0" ng-class="article.content_type.replace('_', '-') ">
    <article ng-if="article.category.toLowerCase() != 'leder'" stiften-image-teaser class="image-article-list-article" ng-class="article.content_type.replace('_', '-')"></article>
    <article ng-if="article.category.toLowerCase() == 'leder'" stiften-editorial-teaser class="editorial-article-list-article" ng-class="article.content_type.replace('_', '-')"></article>
    <div ng-if="insertAd && adPos==($index+1)" berl-emediate cu="28268" tag="frontpage" class="ad-extra-padding"></div>
  </li>
</ul>
<div class="list-button-wrapper">
  <a class="more-link" ng-show="showAllLink && allLink" href ng-href="{{ allLink }}">{{ allLinkText}}<span class="icon-link"></span></a>
  <a class="expand-link" ng-show="showExpandButton" href ng-click="showMore();">{{ expandButtonText }}<span class="icon-down"></span></a>
</div>