<article ng-repeat="article in articles | filter: {content_type: 'image_gallery'} | limitTo: displayed : 0" class="gallery-article-list-article">
    <a class="article-content" href ng-href="{{ article.link | relativize }}" style="background-image: url('{{ article[1].attributes.url }}');">
      <div class="gallery-text-wrapper">
        <div class="image-counter">
          <span class="icon-images"></span>
          <span class="counter">{{ article.images | propertyCounter }}</span>
        </div>
        <h2>{{ article.title }}</h2>
      </div>
    </a>
</article>
<div class="list-button-wrapper">
  <a class="more-link" ng-show="showAllLink && allLink" href ng-href="{{ allLink }}">{{ allLinkText}}<span class="icon-link"></span></a>
  <a class="expand-link" ng-show="showExpandButton" href ng-click="showMore();">{{ expandButtonText }}<span class="icon-down"></span></a>
</div>