<article ng-repeat="article in articles | filter: {content_type: 'image_gallery'} | limitTo: displayed : 0" class="gallery-article-list-article">
    <a class="article-content" href ng-href="{{ article.link | relativize }}" style="background-image: url('{{ article[1].attributes.url }}');">
      <div class="gallery-text-wrapper">
        <div class="image-counter">
          <span class="icon-images"></span>
          <span class="counter">{{ article.images | propertyCounter }}</span>
        </div>
        <h2>{{ article.title }}</h2>
      </div>
    </a>
</article>
<a class="more-link" ng-show="showAllLink" href ng-href="{{ allLink }}">{{ allLinkText}}</a>
<button ng-show="showExpandButton" href ng-click="showMore();">{{ expandButtonText }}</button>