<article ng-repeat="article in articles | limitTo: displayed : 0" class="header-article-list-article">
  <a class="article-content" href ng-href="{{ article.link | relativize }}">
    <time class="publish-date"><span class="icon-time wi" ng-class="article.pubDate | iconize"></span> {{ article.pubDate | customdate }}</time>
    <h2>{{ article.title }}</h2>
    <span class="label label-premium" stiften-premium ng-if="article.plus_access!==undefined"></span>
  </a>
</article>
<div class="list-button-wrapper">
  <a class="more-link" ng-show="showAllLink && allLink" href ng-href="{{ allLink }}">{{ allLinkText}}<span class="icon-link"></span></a>
  <a class="expand-link" ng-show="showExpandButton" href ng-click="showMore()">{{ expandButtonText }}<span class="icon-down"></span></a>
</div>