<article ng-repeat="article in articles | limitTo: displayed : 0" class="header-article-list-article">
  <a class="article-content" href ng-href="{{ article.link | relativize }}">
    <time class="publish-date"><span class="icon-time"></span> {{ article.pubDate | customdate }}</time>
    <h2>{{ article.title }}</h2>
  </a>
</article>
<a class="more-link" ng-show="showAllLink" href ng-href="{{ allLink }}">{{ allLinkText}}</a>
<button ng-show="showExpandButton" href ng-click="showMore();">{{ expandButtonText }}</button>