<div class="site-search">
  <form ng-submit="doSearch()">
    <input autofocus search-field type="search" name="search" placeholder="Søgeord..." id="search-field" ng-model="searchphrase">
    <input type="submit" name="submit" value="Søg" id="search-submit" />
  </form>
  <div class="search-results" ng-if="searched">
    <div class="search-stats">{{ numberOfResults }} resultater på <span class="searchphrase">{{ resultphrase }}</span></div>
    <div stiften-result-list class="result-article-list"></div>
    <button id="search-show-more" href ng-if="showMoreLink" ng-click="showMoreResults()">Vis flere</button>
  </div>
</div>
