.animate-view {
  transition: opacity .4s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.animate-view.ng-enter.ng-enter-active {
  opacity: 0;
}
.animate-view.ng-leave.ng-leave-active {
  opacity: 0;
}

.page-search-page.animate-view.ng-enter  {
  transition: none;
  opacity: 1;
}

.page-search-page .animate-view.ng-enter.ng-enter-active  {
  opacity: 1;
}