@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/Berlingske-Text-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/Berlingske-Text-Regular.otf");
  font-weight: normal;
  font-style: normal;
}