@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/berlingsketext-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/berlingsketext-regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/berlingsketext-regular.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-medium.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-extrabold.otf");
  font-weight: 900;
  font-style: normal;
}



.publish-date, .label {
  font-family: 'Berlingske Sans';

}
.label {
  font-weight: 900;
  text-transform: uppercase;
  a {
    color: #4788e3;
  }
}

h3.section-header {
  font-family: 'Berlingske Sans', Helvetica;
  font-size: 22px;
  font-weight: 900;
  border-bottom: 5px solid $stiften-orange;
  color: $header-color;
  text-transform: uppercase;
  margin: 10px $side-margin 0px;

}

