@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/berlingsketext-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/berlingsketext-regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Text';
  src: url("../fonts/berlingsketext-italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-medium.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berlingske Sans';
  src: url("../fonts/berlingskesans-extrabold.otf");
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-weight: normal;
  line-height: 1.1;
  margin: 10px 0;
}
h4 {
  margin-top: 0px;
}
a {
  color: $header-color;
}
p {
  margin-top: 0;
}
.publish-date, .label, .search-stats, .meta-wrapper-search {
  font-family: $berlingske-sans;

}
.label {
  font-weight: 900;
  text-transform: uppercase;
  a {
    color: #4788e3;
  }
}
.subheader {
  color: #565656;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
}


.article-body {
  font-size: 18px;
  line-height: 26px;
  color: #242424;
  // Mellem-rubrikker
  h2 {
    margin-bottom: 2px;
    font-size: 20px;
  }
}
figcaption {
  font-family: $berlingske-sans;
  font-size: 13px;
  line-height: 18px;
}
h3.section-header {
  font-family: $berlingske-sans;
  font-size: 22px;
  font-weight: 900;
  border-bottom: 5px solid $stiften-orange;
  color: $header-color;
  text-transform: uppercase;
  margin: 10px $side-margin 0px;
  .icon-popular {
    font-size: 22px;
    display: inline-block;
    margin-left: 4px;
  }
}

