input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button {
  font-family: $berlingske-sans;
  font-weight: 900;
  font-size: 12px;
  color: $label-blue;
  border: 1px solid #d1d1d1;
  border-radius: 300px; //HUH?
  background: #fff;
  text-transform: uppercase;
  padding: 11px 25px 9px;
  display: block;
  margin: 15px auto 40px;
  &:active {
    border: 1px solid #333;
  }
}
