input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button, .button {
  @include buttonize();
}

input[type="button"]:disabled,
input[type="submit"]:disabled  {
  opacity: 0.4;
}

.login-form {
  padding-left: $side-margin;
  padding-right: $side-margin;

  input[type="email"],  input[type="password"]{
    width: 100%;
    font-size: 16px;
    padding: 20px 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: #565656 2px solid;
    background: #888888;
    color: #fff;
    border-radius: 0;
    &:active, &:focus {
      border-bottom-color: $stiften-orange;
    };
  }
  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d2d2d2;
    font-style: italic;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #d2d2d2;
     opacity:  1;
     font-style: italic;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #d2d2d2;
     opacity:  1;
     font-style: italic;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #d2d2d2;
     font-style: italic;
  }
  input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:    #d2d2d2;
    font-style: italic;
  }
  .buy-link {
    color: $stiften-orange;
  }
  .forgot {
    font-size: 12px;
    float: right;
  }
  .strong-button {
    margin-bottom: 25px;
  }
}

.strong-button {
  @include buttonize();
  -webkit-appearance: none;
  width: 100%;
  background: $stiften-orange;
  border-color: $stiften-orange;
  color: $menu-background-color;
  text-align: center;
  padding: 14px 25px 13px;
}