.icon {
  height: 48px;
  padding: 0.5rem;
  vertical-align: bottom;
}

@each $theme in $themes {
  body.cat-#{nth($theme, 1)} {
    //background-color: nth($theme, 2);
    .icon .front {
      fill: nth($theme, 3);
    }
  }
}
.hamburger {
  display: none;
}

@media (max-width: $tabletbreakpoint) {
  .hamburger {
    display: initial;
  }
}

[data-icon]:before {
  font-family: "stiften_icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stiften_icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-menu:before {
    content: "c";
}
.icon-beta:before {
    content: "e";
}
.icon-make-wlv:before {
    content: "f";
}
.icon-cross:before {
    content: "h";
}
.icon-heart:before {
    content: "i";
}
.icon-twitter:before {
    content: "p";
}
.icon-facebook:before {
    content: "q";
}
.icon-stiften-logo:before {
    content: "v";
}
.icon-left-menu:before {
    content: "w";
}
.icon-arrow:before {
    content: "x";
}
.icon-stiften-background:before {
    content: "a";
}
.icon-instagram:before {
    content: "b";
}
.icon-bt:before {
    content: "d";
}
.icon-hot:before {
    content: "g";
}
.icon-facebook-background:before {
    content: "j";
}
.icon-twitter-background:before {
    content: "k";
}
.icon-google-background:before {
    content: "l";
}
.icon-instagram-background:before {
    content: "m";
}
.icon-bt-logo-no-box:before {
    content: "n";
}
.icon-google:before {
    content: "o";
}
.icon-switch-left:before {
    content: "t";
}
.icon-switch-right:before {
    content: "u";
}
.icon-thumb-down:before {
    content: "r";
}
