
.sidemenu {
  flex: 1 1 240px;
  background-color: #ffffff;
}

nav {
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {


    color: white;
  }
  a {
    display: block;
    padding: .5rem;
    color: white;
    text-decoration: none;
    background-color: #004444;
    &:hover {
      background-color: #006600;
    }
  }
}

.search {
  margin: .5em;
}

input[type=search] {
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  padding: .5em;
  border: 1px solid #DDD;
}

@media (max-width: $tabletbreakpoint) {
  .sidemenu {
    flex: none;
    width: 100vw;
    background-color: #ffffff;
    transform: translate3d(100vw,0,0);
    transition: all .1s ease-in;
    position: fixed;
    /* top: 0; */
    height: 100%;
    left: 0;
    z-index: 1000;
  }
}

