/* Sizes */
$header-height: 58px;
$side-margin: 16px;
$menu-width: 100vw;




/* "GRID" */
$col-width: 12.5vw;



/* COLORS */
$divider-default: #dddddd;
$stiften-orange: #ffba3b;
$header-color: #333333;

/* MISC */
$default-transition-time: 0.3s;