/* Sizes */
$header-height: 58px;
$side-margin: 16px;
$menu-width: 100vw;
$page-max-width: 940px;


/* "GRID" */
/* 40 / (320 / 100) */
$col-width: 12.5vw;

/* 11 / (320 / 100) */
$gutter-width: 3.4vw;

/* COLORS */
$divider-default: #dddddd;
$stiften-orange: #ffba3b;
$header-color: #333333;
$label-blue: #4788e3;
$menu-background-color: #333;

/* MISC */
$default-transition-time: 0.3s;