/* Sizes */
$header-height: 54px;
$side-margin: 16px;
$menu-width: 100%;
$page-max-width: 940px;
$cookie-consent-height: 150px;
$alert-height: 80px;

/* "GRID" */
/* 40 / (320 / 100) */
$col-width: 12.5vw;

/* 11 / (320 / 100) */
$gutter-width: 3.4vw;

/* COLORS */
$divider-default: #dddddd;
$stiften-orange: #ffba3b;
$header-color: #333333;
$label-blue: #4788e3;
$menu-background-color: #333;
$breaking-background-color: #c61f1f;
$header-list-background: #f9f9f9;

/* MISC */
$default-transition-time: 0.3s;
$icon-animation-speed: 0.5s;

/* FONTS */
$berlingske-sans: 'Berlingske Sans';
$berlingske-text: 'Berlingske Text';
