@import "variables";
@import "mixins";
@import "logo";
@import "fonts";
@import "icons";
@import "animations";
@import "images";

@import "elements/article-metadata";
@import "elements/cookie-informer";
@import "elements/search-form";
@import "elements/site-header";
@import "elements/site-footer";
@import "elements/main-menu";
@import "elements/news-alert";
@import "elements/article-list";

@import "pages/article-page";
@import "pages/list-page";
@import "pages/search-page";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Berlingske Text', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: $page-max-width) {
  .outer-wrapper {
    margin: 0 auto;
    max-width: $page-max-width;
  }
} 
a {
  text-decoration: none;
}
.alert-element {
  position: relative;
  padding-top: $header-height;
  top: 0;
  z-index: 20;
}
.main-container {
  z-index: 20;
  background: #FFF;
  min-height: 100vh;
}
