@import "variables";
@import "mixins";
@import "logo";
@import "fonts";
@import "icons";
@import "animations";
@import "images";

@import "elements/article-list";
@import "elements/site-header";
@import "elements/main-menu";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Berlingske Text', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 940px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}
.main-container {
  position: relative;
  padding-top: $header-height;
  top: 0;
  z-index: 20;
  background: #FFF;
  min-height: 100vh;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

.menu-open .main-container {
  transform: translate3d(- $menu-width, 0, 0);
}