@import "variables";
@import "mixins";
@import "logo";
@import "fonts";
@import "icons";
@import "animations";
@import "images";
@import "forms";

@import "elements/emediate";
@import "elements/fbcomments";
@import "elements/article-metadata";
@import "elements/cookie-informer";
@import "elements/search-form";
@import "elements/site-header";
@import "elements/site-footer";
@import "elements/main-menu";
@import "elements/news-alert";
@import "elements/article-list";
@import "elements/weather";
@import "elements/section-header-menu";
@import "elements/spinner";
@import "elements/gallery-element";
@import "elements/editorial";
@import "elements/author-info";
@import "elements/sportsteams";
@import "elements/rating";
@import "elements/paywall-message";
@import "elements/premium";
@import "elements/reset-password";

@import "pages/article-page";
@import "pages/gallery-page";
@import "pages/editorial-page";
@import "pages/list-page";
@import "pages/search-page";
@import "pages/contact-page";
@import "pages/404-page";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Berlingske Text', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: $page-max-width) {
  .outer-wrapper {
    margin: 0 auto;
    max-width: $page-max-width;
  }
} 
a {
  text-decoration: none;
}

.main-container {
  z-index: 20;
  background: #FFF;
  min-height: 90vh;
}
.outer-wrapper {
  padding-top: $header-height;
}
.section-header {
  border-bottom: 3px solid $stiften-orange;
}


body.cookie-consent-visible .outer-wrapper {
  padding-top: $cookie-consent-height + $header-height;
}

body.cookie-consent-visible .main-menu {
  top: $cookie-consent-height + $header-height;
}

body.page-lock {
  max-height: 100vh;
  overflow: hidden;
  .story-wrapper {
    opacity: 0.4;
  }
}

.list-button-wrapper {
  text-align: center;
}
.more-link, .expand-link {
 
  @include buttonize();

}


video { max-width: 100%;}
.embedded-video { height: auto ;}

.social-links {
  a {
    color: #fff;
    display: inline-block;
    padding: 8px 4px 0px;
    width: 35px;
    height: 35px;
    font-size: 17px;
    border: 1px solid #d6d6d6;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
  }
  a.icon-twitter::before {
    font-size: 15px;
  }
  a.icon-mail::before {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0px;
}