@import "variables";
@import "mixins";
@import "logo";
@import "fonts";
@import "icons";
@import "animations";
@import "images";
@import "forms";

@import "elements/emediate";
@import "elements/article-metadata";
@import "elements/cookie-informer";
@import "elements/search-form";
@import "elements/site-header";
@import "elements/site-footer";
@import "elements/main-menu";
@import "elements/news-alert";
@import "elements/article-list";
@import "elements/weather";
@import "elements/section-header-menu";

@import "pages/article-page";
@import "pages/gallery-page";
@import "pages/list-page";
@import "pages/search-page";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Berlingske Text', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: $page-max-width) {
  .outer-wrapper {
    margin: 0 auto;
    max-width: $page-max-width;
  }
} 
a {
  text-decoration: none;
}

.main-container {
  z-index: 20;
  background: #FFF;
  min-height: 100vh;
}
.outer-wrapper {
  padding-top: $header-height;
}


body.cookie-consent-visible .outer-wrapper {
  padding-top: $cookie-consent-height + $header-height;
}

body.cookie-consent-visible .main-menu {
  top: $cookie-consent-height + $header-height;
}


.more-link {
  font-family: $berlingske-sans;
  color: $label-blue;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
  display: block;
}

video { max-width: 100%;}
.embedded-video { height: auto ;}
